.wrapper {
	max-width: 1050px;
	margin: 0 auto;
	background: $bg;
}

.header {
	&__img {
		text-align: center;
	}
}

@import "nav.css";
@import "nav-top.css";
@import "splited-section.css";
@import "preview-section.css";
@import "image-header.css";
