.nav {
	padding: 0 10px;
	border-top: solid black 1px;
	border-bottom: solid black 3px;
	position: relative;

	&__link {
		display: inline-block;
		font-size: 20px;
		padding: 10px;

		&:hover {
			background: $col2;
		}
	}
}
