.example-list {
	padding: 10px;
}

.example {
	padding: 10px;
	border: 1px solid lightgray;
	margin-bottom: 10px;
}

.text {
	font-size: 1em;
	line-height: 1.5;
	color: $black;
	font-family: "Open Sans";

	h1, h2, h3, h4, h5, h6 {
		font-family: "Aaargh";
		text-transform: uppercase;
		letter-spacing: 1.3;
		margin: 0;
	}

	strong {
		font-size: 0.9em;
	}

	a {
/*
		&::after {
			content: "↺";
			color: gray;
		}
*/
		&.clear {
			text-decoration: none;
			color: $black;
		}

		&[target="_blank"].blank::after {
			content: "👉";
			color: #000;
		}

		&:visited {
			opacity: 0.85;
		}
	}

	p {
		text-indent: 20px;
		&.fl {
			text-indent: 0;
			&:first-letter {
				font-size: 70px;
				line-height: 60px;
				float: left;
				padding: 4px 12px 0 0 ;
			}
		}
	}

	blockquote {
		font-family: Georgia, 'Times New Roman', Times, serif;
		quotes: "\201C" "\201D" "\2018" "\2019";
		margin: 15px;

		&::before, &::after {
			font-size: 4em;
		    line-height: .1em;
		    margin-left: .15em;
		}

		&::before {
			content: open-quote;
			vertical-align: -.4em;
		}

		&::after {
			content: close-quote;
		    vertical-align: -.7em;
		}
	}
}
