html.text
	head
		link(rel="stylesheet", type="text/css", href="css/site.css")
	body
		div.wrapper
			header.header
				div.header__img
					img(src="http://placehold.it/350x150")
				nav.header__nav.nav
					div.nav__link.nav-top
						a(href="#").clear qwe
						div.nav-top__list
							a(href="#").clear.nav-top__item
								figure.nav-top__fig
									img(src="http://placehold.it/300x150")
									figcaption.nav-top__caption
										h6  lorem
							a(href="#").clear.nav-top__item
								figure.nav-top__fig
									img(src="http://placehold.it/300x150")
									figcaption.nav-top__caption
										h6  lorem
							a(href="#").clear.nav-top__item
								figure.nav-top__fig
									img(src="http://placehold.it/300x150")
									figcaption.nav-top__caption
										h6  lorem
										
					a(href="#").clear.nav__link asd
					a(href="#").clear.nav__link zxc
					a(href="#").clear.nav__link ghj
					a(href="#").clear.nav__link asd
					a(href="#").clear.nav__link zxc
					a(href="#").clear.nav__link ghj
					
			main.content
				section.content__main
					section.article
						header Header
						section s1
						section s2
						section s3
						footer footer
						
					section.splited
						div.splited__big
						div.splited__small
						
					section.image-section
					
			footer
				section.about-us
				section.copyright
