html.text
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="css/site.css")
	body
		div.wrapper
			header.header
				div.header__img
					img(src="http://placehold.it/350x150")
				nav.header__nav.nav
					div.nav__link.nav-top
						a(href="#").clear qwe
						div.nav-top__list
							a(href="#").clear.nav-top__item
								figure.nav-top__fig
									img(src="http://placehold.it/300x150")
									figcaption.nav-top__caption
										h6  lorem
							a(href="#").clear.nav-top__item
								figure.nav-top__fig
									img(src="http://placehold.it/300x150")
									figcaption.nav-top__caption
										h6  lorem
							a(href="#").clear.nav-top__item
								figure.nav-top__fig
									img(src="http://placehold.it/300x150")
									figcaption.nav-top__caption
										h6  lorem
										
					a(href="#").clear.nav__link asd
					a(href="#").clear.nav__link zxc
					a(href="#").clear.nav__link ghj
					a(href="#").clear.nav__link asd
					a(href="#").clear.nav__link zxc
					a(href="#").clear.nav__link ghj
					
			main.content
				section.content__main
					section.article
						header.article__header.title-img
							img(src="http://placehold.it/1150x150").title-img__img
							a(href="#").title-img__link
							div.title-img__head
								h6.title-img__author Lorem ipsum
								h2.title-img__title Lorem ipsum dolor sit amet
								div.title-img__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor
						section s1
						section s2
						section s3
						footer footer
						
					section.splited
						div.splited__big
							div.title-img
								img(src="http://placehold.it/450x350").title-img__img
								a(href="#").clear.title-img__head
									h2 Lorem ipsum dolor sit amet
									div.title-img__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor
						div.splited__small
							div.title-img
								img(src="http://placehold.it/450x350").title-img__img
							div.title-img
								img(src="http://placehold.it/450x350").title-img__img
								
					section.image-section
					
					section.grid 
						section.grid__item.preview
							img(src="http://placehold.it/450x350").block.preview__img
							header.preview__head
								a(href="#").clear.preview__author
									h6 Lorem ipsum
								a(href="#").clear.preview__title
									h4 Lorem
							div.preview__body
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							footer.preview__footer
							
						div.grid__item
							img(src="http://placehold.it/450x350").block
						div.grid__item
							img(src="http://placehold.it/450x350").block
						div.grid__item
							img(src="http://placehold.it/450x350").block
					
			footer
				section.about-us
				section.copyright
