html
	head
		link(rel="stylesheet", type="text/css", href="css/site.css")
	body.text
		div.example-list
			div.example
				div
					span hs
				h1 Lorem ipsum dolor sit amet
				h2 Lorem ipsum dolor sit amet
				h3 Lorem ipsum dolor sit amet
				h4 Lorem ipsum dolor sit amet
				h5 Lorem ipsum dolor sit amet
				h6 Lorem ipsum dolor sit amet
			
			div.example
				div
					span link
				div
					a(href="#dfn", rel="tag") Lorem ipsum dolor sit amet
				div
					a(href="#dfn", rel="tag", target="_blank").blank Lorem ipsum dolor sit amet
			
			div.example
				span span
				div
					span Lorem ipsum dolor sit amet
			
			div.example
				span em
				div
					em Lorem 
					span ipsum dolor sit amet
			
			div.example
				span strong
				div
					strong Lorem 
					span ipsum dolor sit amet
			
			div.example
				span small
				div
					small Lorem 
					span ipsum dolor sit amet
			
			div.example
				span del
				div
					del Lorem 
					span ipsum dolor sit amet
			
			div.example
				span cite
				div
					cite Lorem ipsum dolor sit amet
			
			div.example
				span q
				div
					q Lorem ipsum dolor sit amet
			
			div.example
				span blockquote
				div
					blockquote 
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
						| sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
						| ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
						| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
						| deserunt mollit anim id est laborum.
			
			div.example
				span dfn
				div
				dfn(id="dfn") Lorem ipsum dolor sit amet
			
			div.example
				span abbr
				div
					abbr(title="Lorem") Lorem ipsum dolor sit amet
			
			div.example
				span time
				div
					time 2011-11-12 14:54:39.929
			
			div.example
				span code
				div
					code Lorem ipsum dolor sit amet
			
			div.example
				span var
				div
					var Lorem 
					span ipsum dolor sit amet
			
			div.example
				span samp
				div 
					samp Lorem ipsum dolor sit amet
			
			div.example
				span span
				div
					span To make George eat an apple, press 
					kbd Shift + F3
			
			div.example
				span span
				div 
					span Lorem 
					mark ipsum 
					span dolor sit amet
			
			div.example
				span ruby
				div
					ruby Lorem ipsum dolor sit amet, 
						rt consectetur 
						| adipisicing 
						rb elit, 
						| sed do eiusmod

			div.example 
				span paragraph
				p.fl
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
					| sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					| ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
					| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
					| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
					| deserunt mollit anim id est laborum.
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
					| sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					| ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
					| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
					| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
					| deserunt mollit anim id est laborum.
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
